@import url("https://fonts.googleapis.com/css2?family=Source+Serif+4:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap");

* {
  box-sizing: border-box;
  font-family: "Source Serif 4", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

.nav li {
  display: inline;
}

.nav ul {
  margin: 0;
}

.nav a {
  display: inline-block;
  padding: 0.5em;
  text-decoration: none;
}

.nav a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.main-nav {
  text-align: center;
  font-size: 1.2em;
  font-weight: lighter;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.main-nav li {
  padding: 0 5%;
}

.website-name-header {
  text-align: center;
  font-size: 2.75em;
}

.website-name {
  text-align: center;
  font-size: 1.2em;
}

.main-footer {
  background-color: #ffd0bd;
  padding: 0.25em 0;
}

.main-footer-container {
  display: flex;
  align-items: center;
}

.main-footer-container ul {
  flex-grow: 1;
  text-align: end;
}

.footer-nav {
  padding: 0 0.5em;
}

.footer-nav img {
  width: 30px;
  height: 30px;
}

.profile-pic {
  width: 160px;
  border-radius: 80px;
  float: left;
  margin-right: 10px;
}
.username {
  font-weight: bold;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}
.tweet {
  line-height: 1.5em;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}
.main-header {
  background-color: #ffd0bd;
  padding-bottom: 30px;
}

.content-section {
  margin: 1em;
}

.container {
  max-width: 900px;
  margin: 0 auto;
}

.section-header {
  font-weight: normal;
  text-align: center;
  font-size: 1.5em;
}
